.header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;;
  margin-bottom: 20px;
  width: 148vh;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.toggleRow {
  display: flex;
  margin-top: 20px;
}

@media screen and (max-width: 784px) {
  .topRow {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .filter {
    margin-left: 0;
  }

  .toggleRow {
    justify-content: flex-start;
  }
}