/* STUDY PLANNER SETTINGS */
.todoList {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.list {
  width: 400px;
  min-height: 600px;
  background: var(--primary-light);
  border-radius: 1vw;
  padding-top: 6px;
}

.listHeader {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.logo {
  background: var(--background);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbolIcon {
  width: 24px;
  height: 24px;
  color: var(--primary-light);
}

.logo .symbol {
  color: var(--primary-light);
  margin-left: 15px;
  margin-top: -5px;
  font-size: 1.8rem;
  font-weight: bolder;
}

.todoListTitle {
  color: var(--background);
  margin-top: 20px;
  margin-left: 20px;
}

.todoList2 {
  border-radius: 1rem;
  background: var(--primary-light);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists {
  margin-left: 1rem;
  margin-top: 3rem;
  position: relative;
}

/* planning list -> margin top 1.5erem */

.todoCard {
  background: var(--background);
  border-radius: 1rem;
  width: 340px;
  height: 80px;
  color: var(--primary-light);
}

.todoCardItem {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 6px;
}

.toDoItemTitle {
  padding-right: 8px;
}

.deadlines {
  opacity: 0.7;
  font-size: 0.8rem;
  margin-left: 45px;
}

.status {
  float: right;
  background: var(--button-active-dark);
  color: var(--background);
  border-radius: 1rem;
  margin-right: 8px;
  width: 70px;
  height: 30px;
  margin-top: -5px;
}

#addToDo {
  float: right;
  background: var(--button-active-dark);
  color: var(--background);
  border-radius: 1rem;
  margin-right: 20px;
  width: 75px;
  height: 30px;
  margin-top: 25px;
}

.edit {
  float: right;
  background: var(--button-active-dark);
  color: var(--background);
  border-radius: 2rem;
  width: 27px;
  height: 27px;
  margin-top: -3px;
  margin-right: 5px;
}

@media screen and (max-width: 784px) {
  .todoList{
    flex-direction: column;
    gap: 3rem;
  }
}
