.container {
    display: flex;
    width: 90%;  
    margin: 60px auto;
    gap: 8%;
    grid-template-columns: 55% 32%;
    box-sizing: border-box;
}

.detailContainer {
   display: flex;
   flex-direction: column;
   gap: 32px;
   width: min(85.1vw);
   margin: 44px 90px;
   align-self: stretch;
   min-width: 0;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 320px;
}

.headerRow {
    display: flex;
}