.colCode   { width: 14%; text-align: left;  padding-left: 10px; }
.colTitle  { width: auto; text-align: left; }
.colCredit { width: 12%; text-align: right; padding-right: 3%; }
.colTerm   { width: 16%; text-align: left;  padding-left: 3%; }
.colAction { width: 10%; text-align: right; padding-right: 2%; }