NEXT_PUBLIC_BASE_URL='http://localhost:3000'
NEXT_PUBLIC_API_BASE_URL='http://localhost:3000/api'

# Use the Supabase connection string for the Pooler with SSL required.
# Replace <db-password> with the password from Database > Connection info.
DATABASE_URL="postgresql://postgres.guypbpvditosknjuekic:<db-password>@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?pgbouncer=true&sslmode=require"
