.container{
    display: flex;
    flex-direction: 'row';
    width: 100vw;
    margin-left: -3vw;
}

.divListContainer{
    width: 300px; 
    margin-top: 5vh;
    margin-left: 0.5vw;
}

.divList{
    height: 55vh;
    overflow: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 784px) {
    .container{
        flex-direction: column;
        margin-left: -30px;
    }

}
