.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.requiredMarkToggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.simNotice{
    font-size: 13px;
    color: var(--destructive);
    display: flex;
    justify-content: flex-end;
    margin-bottom: -32px;
}