.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}