@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-prime: #25437C;
    --background: #ededed;
    --foreground: #000000;
    --button-inactive: #606ACB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  min-width: 100vw;
  min-height: 100vh;
}

/* NAVBAR SETTINGS */
div.navbar {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  background: var(--foreground);
  color: var(--background);
}

div.navbar a{
  margin-top: 0.5rem;
}

/* STUDY PLANNER SETTINGS */
div.to-doList{
  display: flex;
  flex-direction: row;
}

div.list{
  width: 23.5vw;
  height: 65vh;
  background: var(--background-prime);
  border-radius: 1vw;
}

div.todoList2{
  width: 23.5vw;
  height: 50vh;
  margin-top: -1vw;
  border-radius: 1rem;
  background: var(--background-prime);
  overflow-y: auto;
}

div.to-doCard{
  background: var(--background);
  border-radius: 1rem;
  width: 20.5vw;
  height: 10vh;
  color: var(--background-prime);
}